.dark-theme{
    background-color: darkslategrey;
    color: #fff;
}
.light-theme{
    background-color: #ff8fb1;
    color:fff;
}
.main{
    margin: 2rem;
    padding: 20px;
    font-size: 20px;
    span{
        font-size: 2rem;
    }
    input{
        font-size: 1.8rem;
        padding: 20px;
        border:1px solid gray;
        &:hover{
            border-radius: 15px;
            transition: 0.5s;
        }
        &:focus{
            border:1px solid gray;
        }
    }
    button {
        border-radius: 5px;
        border: 1px solid transparent;
        margin: 20px;
        padding: 0.3em 0.8em;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        margin-left: 15px;
        &.toggle{
            background-color: #b6e2a1;
        }
        &.delete {
            background-color: darkcyan;
            color: #fff;
            border-radius: 20px;
            margin-bottom: 5px;
            margin-top: 0px;
        }
    }
    p{
        font-size: 1.7rem;
        margin: 20px;
    }
}