.APImain {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
  h1 {
    color: #ffff57;
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  button {
    margin: 0 10px;
    margin-top: 10px;
    background: transparent;
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    color: #ccc;
    font-size: 1.2em;
    cursor: pointer;
  }
  button:hover {
    color: #fff;
    border-color: #fff;
  }
  .content {
    text-align: left;
  }

  .card {
    padding: 8px 16px;
    background: #1b1b1b;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 450px;
    transform: translateY(0);
    transition: transform 0.5s linear 0s;

    border: 1px solid gray;
    &:hover {
      transform: scale(1.1, 1.1);
      transform: translateY(-10px);
      transition: transform 0.5s linear 0s;
    }
    p {
      margin: 6px 0;
      color: #999;
    }
    h3 {
      margin: 10px 0;
      color: #ffff57;
    }
  }
}

.travel {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  h1 {
    color: darkcyan;
    font-size: 2.5rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-indent: 2em;
    text-align: left;
    white-space: pre-line !important;
    padding: 0 20px;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
    text-indent: 2em;
    padding: 0 20px;
  }
  img {
    width: 80%;
    margin-top: 1rem;
  }
}
